.container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px; 

 
}

.box{
 background-color: #f0f0f0; 
 padding: 16px; 
 text-align: center;
 flex: 1 1 calc(33.333% - 16px); 
 text-align: center;
 box-sizing: border-box;
 box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.product-image{
  margin: 0;
  padding: 0;

}
.product-image img{
  width: 180px;
  height: 180px;
}
.product-image img{
  cursor: pointer;
}
.product-image h3{
margin: 0;
font-size: 2rem;
}
.product-image p{
 margin: 0;
}
.product-image span{
 margin: 0;
 font-size: large;
 font-weight: 900;
}
.btn{
  
  justify-content: space-around;
  text-align: center;
  font-size: small;
  background-color: orange;
  margin-top: 10px;
  font-weight: 500;
 
  
  
}
.download-app{
  display: flex;
  text-align: center;
  justify-content: center;
}
.download-app h3{
  margin-top: 40px;
  margin-right: 40px;
}
.download-app img{
  margin-top: 10px;
  width: 180px;
  height: 90px;
}



.appstore img{
  margin-top: 25px;
  width: 180px;
  height: 60px;
}



